/** General CSS Stylesheet for Quazzle
* Contains Universally used style across the whole page.
*/

:root {
  --header-color: #ae79df;
  --sidebar-color: #ce99ff;
  --sidebar-hover-color: #eeb9ff;
  --chat-background-color: #eaeaea;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

body {
  display: grid;
  font-size: 18px;
  grid-template-columns: auto;
  grid-template-rows: 12vh 88vh;
  width: 100%;
  height: 100vh;
}

nav {
  grid-area: 1/1/1/1;
  background: var(--header-color);
  border-bottom: 1px solid rgba(0,0,0,0.4);
  color: #fff;
  display: flex;
  justify-content:center;
  align-content:center;
  flex-direction:column;
  z-index: 200;
}

a {
  text-decoration: none;
    color: black;
}

button {
  border: none;
  outline: none;
  border-radius: 0;
  font-size: 20px;
}

input {
  padding: 0.5rem;
  text-align: center;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: none;
  width: inherit;
}
#logo {
margin-left: 50px;
color: #fff;
}

#content {
  grid-area: 2/1/2/1;
  background: orange;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
}

#chats {
  grid-area: 1/1/1/1;
  background: yellow;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 100px 1fr;
}

#list {
  grid-area: 1/1/1/1;
  background: var(--sidebar-color);
  padding: 5px 0;
  display: grid;
  grid-auto-rows: 45px;
  grid-row-gap: 8px;
  overflow: auto;
  box-shadow: 0 0 15px 1px rgba(0,0,0,0.2) inset;
}

#chats ::-webkit-scrollbar {
    width: 0px;
}

#list .chat-item {
  padding: 5px;
  margin: 0 5px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content:center;
  align-content:center;
  flex-direction:column;
  cursor: pointer;
  transition: 0.1s all;
}

#list .chat-item:hover {
  background: var(--sidebar-hover-color);
}

#list .chat-item.active {
  background: var(--chat-background-color);
  box-shadow: 0 0 15px 1px rgba(0,0,0,0.4);
  margin: 0 0 0 5px;
  border-radius: 5px 0 0 5px;
  z-index: 101;
  cursor: default;
}

#chat {
  grid-area: 1/2/1/2;
  background: var(--chat-background-color);
  border-radius: 5px 0 0 0;
  padding: 15px 10px;
  z-index: 102;
}

.chat-msg {
  border-radius: 15px;
  box-shadow: 0 0 10px 1px rgba(0,0,0,0.1);
  padding: 10px;
  display: block;
  max-width: 50%;
}

.chat-msg.my-own {
  border-radius: 15px 15px 0 15px;
  background: var(--header-color);
  float: right;
  clear: right;
}

.chat-msg.friend {
  border-radius: 15px 15px 15px 0;
  float: left;
  clear: left;
}

#free {
  grid-area: 1/2/1/2;
  background: grey;
}
